{% extends "index.html" %}

{% block templates %}
  <section>
    {% comment %} Counts {% endcomment %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <a>
        <div class="bg-red-200 text-center rounded-md p-6">
          <h1>Total Number of participants</h1>
          <p class="font-bold text-4xl mt-4">{{ counts.total_participant }}</p>
        </div>
      </a>
      <a href="{% url "dashboard" %}?type=total-event">
        <div class="bg-green-200 text-center rounded-md p-6">
          <h1>Total Number of events</h1>
          <p class="font-bold text-4xl mt-4">{{ counts.total_events }}</p>
        </div>
      </a>
      <a href="{% url "dashboard" %}?type=upcoming">
        <div class="bg-blue-200 text-center rounded-md p-6">
          <h1>Upcoming events</h1>
          <p class="font-bold text-4xl mt-4">{{ counts.total_upcoming }}</p>
        </div>
      </a>
      <a href="{% url "dashboard" %}?type=past">
        <div class="bg-yellow-200 text-center rounded-md p-6">
          <h1>Past events</h1>
          <p class="font-bold text-4xl mt-4">{{ counts.total_past }}</p>
        </div>
      </a>
    </div>
    {% comment %} Table {% endcomment %}
    <div class="mt-12">
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                Event Name
              </th>
              <th scope="col" class="px-6 py-3">
                Date
              </th>
              <th scope="col" class="px-6 py-3">
                Time
              </th>
              <th scope="col" class="px-6 py-3">
                Location
              </th>
            </tr>
          </thead>
          <tbody>
            {% for p in events %}
              <tr class="bg-white border-b border-gray-200">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ p.name }}
                </td>
                <td class="px-6 py-4">
                    {{ p.date }}
                </td>
                <td class="px-6 py-4">
                  {{ p.time }}
                </td>
                <td class="px-6 py-4">
                  {{ p.location }}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4" class="px-6 py-4 text-center text-gray-500">
                    No participants are joining this event.
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock templates %}

