{% extends "index.html" %}
{% load static %}

{% block templates %}
  <section>
    {% comment %} Event banner design {% endcomment %}
    {% comment %} Filtering Options {% endcomment %}
    <form action="{% url 'view-events' %}">
      <select class="bg-black/5 px-4 py-4 rounded-md border-r-8 border-transparent mb-8" name="type" id="event-filter" onchange="this.form.submit()">
        <option value="today" {% if request.GET.type == "today" %}selected{% endif %}>Today</option>
        <option value="upcoming" {% if request.GET.type == "upcoming" %}selected{% endif %}>Upcoming</option>
        <option value="past" {% if request.GET.type == "past" %}selected{% endif %}>Past</option>
      </select>      
    </form>
    {% comment %} Events Card {% endcomment %}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-12">
      {% for event in events %}
      <div>
        <a href="{% url "view-event-details" event.id %}" class="cursor-pointer">
          <div class="relative">
              <span class="absolute top-0 left-0 bg-red-500 text-[12px] text-white text-center font-semibold rounded-md m-1 px-2 py-1">Event Type: {{ event.category.get_category_name_display }}</span>
              <span class="absolute top-7 left-0 bg-red-500 text-[12px] text-white text-center font-semibold rounded-md m-1 px-2 py-1">{{ event.total_participants }} People are Joining</span>
              <span class="absolute w-[3px] h-[40px] bg-red-500 -bottom-4 left-1/2 z-10"></span>
              <span class="text-center text-white text-sm font-medium absolute bottom-10 z-20 left-1/2 -translate-x-1/2">{{ event.date|date:"F j Y" }}, <br> {{ event.time }}</span>
              <img class="mx-auto" src="{% static "images/event_1.jpg" %}" alt="">
              <!-- Top Shadow Overlay -->
              <div class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-black/60 to-transparent"></div>
            </div>
            <div class="mt-8">
              <h1 class="text-xl font-medium text-center">
                {% if event.name|length > 20 %}
                  {{ event.name|slice:":20" }}..
                {% else %}
                  {{ event.name }}
                {% endif %}
              </h1>
              <p class="flex gap-4 items-center justify-center mt-2">
                <span><img src="{% static 'images/location.png' %}" alt=""></span>
                <span class="text-[12px] text-[#222222] font-semibold">{{ event.location }}</span>
              </p>
            </div>
        </a>
        <span class="flex gap-1 justify-center mt-4 text-white">
          <a href={% url "update-event" event.id %} class="bg-green-400 flex justify-center p-2 rounded-md cursor-pointer">
            Update
          </a>
          <form method="POST" action="{% url "delete-event" event.id %}">
            {% csrf_token %}
            <button type="submit" class="bg-red-400 flex justify-center p-2 rounded-md cursor-pointer">
              Delete
            </button>
          </form>
        </span>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock templates %}

