{% extends "index.html" %}
{% load static %}

{% block templates %}
  <div class="w-full">
    <div class="flex flex-col md:flex-row justify-between gap-12">
      {% comment %} Event Details {% endcomment %}
      <div class="md:w-[70%] bg-[#f7f7f7] p-6 rounded-md">
        <img class="rounded-md w-full" src="{% static "images/details.jpg" %}" alt="">
        <h1 class="my-6 text-2xl font-bold">{{ event.name }}</h1>
        <p class="flex gap-3 mt-2">
          <span><img src="{% static 'images/calender.png' %}" alt=""></span>
          <span class="text-[12px] text-[#222222] font-semibold"> {{event.date}}, {{ event.time }}</span>
        </p>
        <p class="flex gap-3 items-center mt-3">
          <span><img src="{% static 'images/location.png' %}" alt=""></span>
          <span class="text-[12px] text-[#222222] font-semibold">{{ event.location }}</span>
        </p>
        <p class="mt-6 text-black/70 text-sm">
          {{ event.description }}
        </p>
      </div>
      {% comment %} Similar Date Events {% endcomment %}
      <div class="md:w-[30%]">
        <h1 class="mb-6 font-bold text-xl uppercase">Events on the Same Date</h1>
        <div class="grid grid-cols-1 gap-4">
          {% for event in similar_events %}
            {% if event %}
              <div class="flex gap-4 border p-2 rounded-md">
                <div>
                  <img width="90" height="40" src="{% static "images/similar.jpg" %}" alt="">
                </div>
                <div>
                  <p class="text-sm font-medium">{{ event.name }}</p>
                  <p class="text-red-500 text-[12px] font-bold">{{ event.date }}</p>
                </div>
              </div>
            {% endif %}
            {% empty %}
              <p class="bg-red-100 p-2 text-center rounded-md w-full">No other events on this day.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% comment %} Participant Table {% endcomment %}
    <div class="mt-12">
      <h1 class="mb-6 font-bold text-xl uppercase">Here are the list of participants who are joining the event:</h1>
      

      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                  Participant Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
            </tr>
          </thead>
          <tbody>
            {% for p in event.registered_event.all %}
              <tr class="bg-white border-b border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ p.participant_name }}
                </th>
                <td class="px-6 py-4">
                    {{ p.participant_email }}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2" class="px-6 py-4 text-center text-gray-500">
                    No participants are joining this event.
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      

    </div>
  </div>
{% endblock templates %}

