{% extends "index.html" %}
{% load static %}

{% block templates %}
  <section>
    {% comment %} Event banner design {% endcomment %}
    {% comment %} Filtering Options {% endcomment %}
    {% comment %} Events Card {% endcomment %}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-12">
      {% for event in events %}
      <div>
        <div class="relative">
            <span class="absolute top-0 left-0 bg-red-500 text-[12px] text-white text-center font-semibold rounded-md m-1 px-2 py-1">Event Type: {{ event.category.get_category_name_display }}</span>
            <span class="absolute top-7 left-0 bg-red-500 text-[12px] text-white text-center font-semibold rounded-md m-1 px-2 py-1">{{ event.total_participants }} People are Joining</span>
            <span class="absolute w-[3px] h-[40px] bg-red-500 -bottom-4 left-1/2 z-10"></span>
            <span class="text-center text-white text-sm font-medium absolute bottom-10 z-20 left-1/2 -translate-x-1/2">{{ event.date|date:"F j Y" }}, <br> {{ event.time }} PM</span>
            <img class="mx-auto" src="{% static "images/event_1.jpg" %}" alt="">
            <!-- Top Shadow Overlay -->
            <div class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-black/60 to-transparent"></div>
          </div>
          <div class="mt-8">
            <h1 class="text-xl font-medium text-center">{{ event.name|slice:":20" }}..</h1>
            <p class="flex gap-4 items-center justify-center mt-2">
              <span><img src="{% static 'images/location.png' %}" alt=""></span>
              <span class="text-[12px] text-[#222222] font-semibold">{{ event.location }}</span>
            </p>
          </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock templates %}

